{% extends 'gradesbook/base.html' %}

{% block grades%}
  <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <h4>Додати викладача предмету <b> {{subject}} </b> в класі <b> {{class}} </b> :</h4>
            </div>
            <br><br>
            <form action="{%url 'gradesbook:add_subject_teacher' class.unique_code subject.unique_code %}" method="POST">
              {% csrf_token %}
              {% for teacher in form.teachers %}
                <b>{{teacher}}</b><br>
              {% endfor %}
              <br>
              <button class="btn btn-outline-secondary" type="submit"><b>ДОДАТИ ВИКЛАДАЧА</b></button>
              <br>
            </form>
            <br>
            <a class="btn btn-secondary logout2" href="{%url 'gradesbook:subject_view' class.unique_code subject.unique_code %}">СКАСУВАТИ</a>
          </div>
        </div>
      </div>
  </body>
{% endblock %}