{% extends 'gradesbook/base.html' %}

{% block grades %}
  <body>
    <div class="container">
      {% if wrong is True %}
        <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong> Введено некоректне значення оцінки. </strong>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <table class="table table-responsive table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" style="width: 12.0%; text-align: center;">ПОВІДОМЛЕННЯ УЧНЮ</th>
                  <th scope="col" style="width: 13.0%; text-align: center;">ПОВІДОМЛЕННЯ БАТЬКАМ</th>
                  <th scope="col" style="width: 14.0%; text-align: center;">УЧЕНЬ</th>
                  <th scope="col" style="width: 38.0%; text-align: center;">ОЦІНКА</th>
                  <th scope="col" style="width: 23.0%; text-align: center;">ДОДАТИ НОВУ ОЦІНКУ</th>
                </tr>
              </thead>
              {% for student in students %}
                <tr>
                  <th onclick="document.location='{%url 'gradesbook:create_message' 4 student.0.user.id %}';" style="cursor: pointer; text-align: center;" class="message_cell align-middle">
                    <b><i class="material-icons align-text-bottom" style="font-size:35px;">mail</i></b>
                  </th>
                  <th onclick="document.location='{%url 'gradesbook:create_message' 5 student.0.user.id %}';" style="cursor: pointer; text-align: center;" class="message_cell align-middle">
                    <b><i class="material-icons align-text-bottom" style="font-size:35px; color: #D9A138;">mail</i></b>
                  </th>
                  <th>
                    {{student.0}}
                  </th>
                  <th>
                    {% for grade in student.1 %}
                      <b>{{grade.grade}}, &nbsp;&nbsp;
                    {% endfor %}
                  </th>
                  <th>
                    <form id={{student.0.user.id}} action="{% url 'gradesbook:teacher_subject' subject.unique_code %}" method="POST">
                      {% csrf_token %}
                      {% if invalid_student == student.0 %}
                        {{form2.grade}}
                      {% else %}
                        {{form.grade}}
                      {% endif %}
                      <input type="hidden" name="student" value={{student.0.user.id}}>
                      <button class="btn btn-outline-dark" type="submit"><b>Додати нову оцінку <i class="material-icons align-text-bottom" style="font-size:25px;">border_color </i></b></button>
                    </form>
                  </th>
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="btn btn-outline-dark" href="{%url 'gradesbook:teacher' %}"> <b>ПОВЕРНУТИСЯ ДО ПАНЕЛІ ВИКЛАДАЧА</b> </a>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-4">
              <table class="table table-responsive table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 12.0%; text-align: center;">ОЦІНКИ З ПРЕДМЕТУ, ДОДАНІ ВИКЛАДАЧАМИ</th>
                  </tr>
                </thead>
                {% for grade in grades %}
                <tr>
                  <th>
                    {{grade.date}} {{grade.subject.unique_code}} {{grade.student}} {{grade.student.school_class.unique_code}} {{grade.grade}} <br>
                  </th>
                </tr>
              {% endfor%}
              </table>
              <div class="pagination">
                <span class="step-links">
                  {% if grades.has_previous %}
                    <a href="?page1=1">&laquo; <b style="color: black">початкова</b></a>
                    <a href="?page1={{ grades.previous_page_number }}"><b style="color: black">попередня</b></a>
                  {% endif %}
                  <span class="current">
                    сторінка {{ grades.number }} з {{ grades.paginator.num_pages }}.
                  </span>
                  {% if grades.has_next %}
                    <a href="?page1={{ grades.next_page_number }}"><b style="color: black">наступна</b></a>
                    <a href="?page1={{ grades.paginator.num_pages }}"><b style="color: black">остання&raquo;</b></a>
                  {% endif %}
                </span>
              </div>
              <br>
            </div>
            <div class="col-4">
              <table class="table table-responsive table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 12.0%; text-align: center;">ОЦІНКИ З ПРЕДМЕТУ, ДОДАНІ АДМІНІСТРАТОРОМ</th>
                  </tr>
                </thead>
                {% for grade in manager_grades %}
                  <tr>
                    <th>
                      {{grade.date}} {{grade.subject.unique_code}} {{grade.student}} {{grade.student.school_class.unique_code}} {{grade.grade}} <br>
                    </th>
                  </tr>
                {% endfor%}
              </table>
              <div class="pagination">
                <span class="step-links">
                  {% if manager_grades.has_previous %}
                    <a href="?page2=1"><b style="color: black"> &laquo; початкова</b></a>
                    <a href="?page2={{ manager_grades.previous_page_number }}"><b style="color: black">попередня</b></a>
                  {% endif %}
                  <span class="current">
                    сторінка {{ manager_grades.number }} з {{ manager_grades.paginator.num_pages }}.
                  </span>
                  {% if manager_grades.has_next %}
                    <a href="?page2={{ manager_grades.next_page_number }}"><b style="color: black">наступна</b></a>
                    <a href="?page2={{ manager_grades.num_pages }}"><b style="color: black">остання &raquo;</b></a>
                  {% endif %}
                </span>
              </div>
              <br>
            </div>
            <div class="col-4">
              <table class="table table-responsive table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 12.0%; text-align: center;">ВИДАЛЕНІ ОЦІНКИ З ПРЕДМЕТУ</th>
                  </tr>
                </thead>
                {% for grade in manager_canceled_grades %}
                <tr>
                  <th>
                    {{grade.date}} {{grade.subject.unique_code}} {{grade.student}} {{grade.student.school_class.unique_code}} {{grade.grade}} <br>
                  </th>
                </tr>
                {% endfor%}
              </table>
              <div class="pagination">
                <span class="step-links">
                  {% if manager_canceled_grades.has_previous %}
                    <a href="?page3=1"><b style="color: black">&laquo; початкова</b></a>
                    <a href="?page3={{ manager_canceled_grades.previous_page_number }}"><b style="color: black">попередня</b></a>
                  {% endif %}
                  <span class="current">
                    сторінка {{ manager_canceled_grades.number }} з {{ manager_canceled_grades.paginator.num_pages }}.
                  </span>
                  {% if manager_canceled_grades.has_next %}
                    <a href="?page3={{ manager_canceled_grades.next_page_number }}"><b style="color: black">наступна</b></a>
                    <a href="?page3={{ manager_canceled_grades.num_pages }}"><b style="color: black">остання &raquo;</b></a>
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </body>
{% endblock %}