{% extends 'yourgrades/base.html' %}

{% block grades %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <form  action="{% url 'yourgrades:manager_student_edit' student.user.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-3">
                <div class="row">
                  <b>{{form.name.label}}</b>{{form.name}}
                </div>
                <div class="row">
                  <b>{{form.surname.label}}</b>{{form.surname}}
                </div>
                <div class="row">
                  <b>{{form.birthday.label}}</b>{{form.birthday}}
                </div>
              </div>
              <div class="col-3 offset-1">
                <div class="row">
                  <b>{{form.first_parent_name.label}}</b>{{form.first_parent_name}}
                </div>
                <div class="row">
                  <b>{{form.first_parent_surname.label}}</b>{{form.first_parent_surname}}
                </div>
              </div>
              <div class="col-3 offset-1">
                <div class="row">
                  <b>{{form.second_parent_name.label}} (необов'язково)</b>{{form.second_parent_name}}
                </div>
                <div class="row">
                  <b>{{form.first_parent_surname.label}} (необов'язково)</b>{{form.second_parent_surname}}
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <button class="btn btn-outline-dark" type="submit"><b>ЗМІНИТИ ДАНІ</b></button>
            </div>
            <br>
            <div class="row">
              <a class="btn btn-dark cancel" href="{%url 'yourgrades:manager_student' student.user.id %}"><b>СКАСУВАТИ</b></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
{% endblock %}