{% extends 'yourgrades/base.html' %}

{% block grades %}
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% if invalid is not None and del is None %}
            <div class="alert alert-warning">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong> Введено некоректне значення</strong>
            </div>
          {% endif %}
          <br>
          <div class="row">
            <div class="col-sm-1">
              <a class="btn btn-secondary" data-toggle="tooltip" title="Надіслати повідомлення батькам" href="{%url 'yourgrades:create_message' 5 student.user.id %}"><i class="material-icons align-text-bottom" style="font-size:25px; color:#FED65E;">mail</i></a>
            </div>
            <div class="col-sm-1">
              <a class="btn btn-secondary" data-toggle="tooltip" title="Надіслати повідомлення здобувачам освіти" href="{%url 'yourgrades:create_message' 4 student.user.id %}"><i class="material-icons align-text-bottom" style="font-size:25px;">mail</i></a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-4">
              <div class="row">
                <b style="font-size:26px;" >{{student}}</b>
              </div>
            </div>
            <div class="col-5">
              <a class="btn btn-outline-dark" href="{%url 'yourgrades:manager_student_edit' student.user.id %}">РЕДАГУВАТИ ДАНІ ЗДОБУВАЧА ОСВІТИ ТА/АБО БАТЬКІВ <i class="material-icons align-text-bottom" style="font-size:24px; color: grey"> <b> person </b> </i> </a>
            </div>
            <div class="col-3">
              <a class="btn btn-outline-dark" href="{%url 'yourgrades:del_student' student.user_id %}">ВИДАЛИТИ ЗДОБУВАЧА ОСВІТИ <i class="material-icons align-text-bottom" style="font-size:24px; color: grey"> <b> remove_circle </b> </i> </a> <br>
            </div>
          </div>
          <br><br>
          <div class="row">
            <u>Батьки здобувача освіти</u>:
          </div>
          <br>
          {% for parent, active in parents_active.items %}
            <div class="row">
              <div class="col-3">
                <b>{{parent}}</b>
              </div>
              {% if active is not None %}
                <div class="col-6">
                  (Ім'я користувача: {{active}}, Пароль: {{active}}345)
                </div>
                <div class="col-3">
                  <a class="btn btn btn-outline-dark" style="font-size:14px;" href="{% url 'yourgrades:manager_reset_user' 345 parent.user.id %}">Скинути дані для входу</a>
                </div>
              {% else %}
                <div class="col-6">
                  (Після першого входу - персоналізований обліковий запис)
                </div>
                <div class="col-3">
                  <a class="btn btn btn-outline-dark" style="font-size:14px;" href="{% url 'yourgrades:manager_reset_user' 345 parent.user.id %}">Скинути дані для входу</a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <br>
          <table class="table table-responsive table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col" style="width: 10.0%" >ПРЕДМЕТ </th>
                <th scope="col" style="width: 60.0%" ><b>ОЦІНКА (ДАТА ВИСТАВЛЕННЯ)</b></th>
                <th scope="col" style="width: 30.0%" >ВВЕДІТЬ ОЦІНКУ</th>
              </tr>
            </thead>
            {% for subject, grades in subject_grades.items %}
              <tr>
                <th>
                  {{subject}}
                </th>
                <th>
                  <form class="form-inline" action="{% url 'yourgrades:manager_student' student.user.id %}" method="POST">
                  {% for grade in grades %}
                    <b >{{grade.grade}}</b>/<span>{{grade.weight}}</span> ({{grade.date|date:"SHORT_DATE_FORMAT"}})
                      {% csrf_token %}
                      <input type="hidden" name="del_grade" value={{grade.id}}>
                      <button class="btn btn-outline-dark" onclick="return confirm('Видалити оцінку {{grade.grade}},  видану {{grade.date}}?')" style="font-size: 12px;" type="submit"><b>Видалити</b></button>
                  {% endfor %}
                  </form>
                </th>
                <th>
                  <form class="form-inline" action="{% url 'yourgrades:manager_student' student.user.id %}" method="POST">
                    {% csrf_token %}
                    {% if invalid.1 == subject.unique_code %}
                      {{invalid.0.grade}}
                    {% else %}
                      {{form.grade}}
                    {% endif %}
                    <input type="hidden" name="subject" value={{subject.unique_code}}>
                    <button class="btn btn-outline-dark" type="submit"><b>Ввести нову оцінку</b></button>
                  </form>
                </th>
              </tr>
            {% endfor %}
          </table>
          <br>
          <a class="btn btn-outline-dark" href="{% url 'yourgrades:edit_school_class' student.school_class.unique_code %}"><b>ПОВЕРНУТИСЯ ДО КЛАСУ</b></a>
          <a class="btn btn-outline-dark" href="{%url 'yourgrades:manager' %}"><b>ПОВЕРНУТИСЯ ДО ПАНЕЛІ АДМІНІСТРАТОРА</b></a>
        </div>
      </div>
      <br>
    </div>
  </body>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock%}