{% extends 'yourgrades/base.html' %}

{% block grades%}
  <body>
    <div class="container">
      {% if no_students is True %}
        <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong> У цьому класі поки що немає учнів. Повідомлення нікому не буде відправлено </strong>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-12 text-center">
          {% if recipient_type == 1 %}
            <div class="row">
              <div class="col-12">
                <h3 >ВІДПРАВИТИ ПОВІДОМЛЕННЯ УСІМ УЧНЯМ КЛАСУ <b>{{recipient}}</b></h3>
              </div>
            </div>
            <form action="{% url 'yourgrades:create_message' 1 recipient.unique_code %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ</b></button>
                </div>
              </div>
            </form>
          {% endif %}
           {% if recipient_type == 2 %}
            <div class="row">
              <div class="col-12">
                <h3 >ВІДПРАВИТИ ПОВІДОМЛЕННЯ УСІМ БАТЬКАМ УЧНІВ КЛАСУ <b>{{recipient}}</b></h3>
              </div>
            </div>
            <form action="{% url 'yourgrades:create_message' 2 recipient.unique_code %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ</b></button>
                </div>
              </div>
            </form>
          {% endif %}
          {% if recipient_type == 3 %}
            <div class="row">
              <h3>ВІДПРАВИТИ ПОВІДОМЛЕННЯ ВИКЛАДАЧУ <b>{% for teacher in recipient.teacher.all %}{{teacher}}{% endfor %}</b> ПРЕДМЕТУ {{recipient.subject}}</h3>
            </div>
            <form action="{% url 'yourgrades:create_message' 3 recipient.subject.unique_code %}" method="POST">
              {% csrf_token %}
             <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ</b></button>
                </div>
              </div>
            </form>
          {% endif %}
          {% if recipient_type == 4 %}
            <div class="row">
              <div class="col-12">
                <h3>ВІДПРАВИТИ ПОВІДОМЛЕННЯ УЧНЮ <b>{{recipient}}</b> З КЛАСУ {{recipient.school_class}}</h3>
              </div>
            </div>
            <form action="{% url 'yourgrades:create_message' 4 recipient.user.id %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ</b></button>
                </div>
              </div>
            </form>
          {% endif %}
          {% if recipient_type == 5 %}
            <div class="row">
              <h3>ВІДПРАВИТИ ПОВІДОМЛЕННЯ БАТЬКАМ УЧНЯ <b>{{recipient}}</b> З КЛАСУ {{recipient.school_class}}</h3>
            </div>
            <form action="{% url 'yourgrades:create_message' 5 recipient.user.id %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ/b></button>
                </div>
              </div>
            </form>
          {% endif %}
          {% if recipient_type == 6 %}
            <div class="row">
              <div class="col-12">
                <h3 >ВІДПРАВИТИ ПОВІДОМЛЕННЯ АДМІНІСТРАТОРУ <b>{{recipient}}</b></h3>
              </div>
            </div>
            <form action="{% url 'yourgrades:create_message' 6 None %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ</b></button>
                </div>
              </div>
            </form>
          {% endif %}
          {% if recipient_type == 7 %}
            <div class="row">
              <div class="col-12">
                <h3>ВІДПРАВИТИ ПОВІДОМЛЕННЯ ВИКЛАДАЧУ<b> {{recipient}}</b></h3>
              </div>
            </div>
            <form action="{% url 'yourgrades:create_message' 7 recipient.user.id %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form.subject}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  {{form.text}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-outline-dark" type="submit"><b>ВІДПРАВИТИ ПОВІДОМЛЕННЯ</b></button>
                </div>
              </div>
            </form>
          {% endif %}
          <br>
          {% if back is True %}
            <a class="btn btn-outline-dark" href="{% url 'yourgrades:homepage' %}"><b>СКАСУВАТИ</b></a>
          {% else %}
            <a class="btn btn-outline-dark" href="{{request.META.HTTP_REFERER}}"><b>СКАСУВАТИ</b></a>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
{% endblock %}