{% extends 'yourgrades/base.html' %}

{% block grades %}
 <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-4">
            <h4>Добрий день, <b>{{person}}</b></h4>
            </div>
            <div class="col-3">
              <a class="btn btn-outline-dark" href="{%url 'yourgrades:timetable' 'student' %}"> ПОДИВИТИСЯ РОЗКЛАД ЗАНЯТЬ</a>
            </div>
            <div class="col-4">
              <a class="btn btn-outline-dark" href="{%url 'yourgrades:create_message' 6 None %}">ВІДПРАВИТИ ПОВІДОМЛЕННЯ АДМІНІСТРАТОРУ</a>
            </div>
          </div>
          <br><br>
          <div class="row">
            <table class="table text-center table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" style="width: 20.0%; text-align: center !important;" >ПРЕДМЕТ</th>
                  <th scope="col" style="width: 60.0%; text-align: center !important;" >ОЦІНКИ</th>
                  <th scope="col" style="width: 20.0%; text-align: center !important;" >ВІПРАВИТИ ПОВІДОМЛЕННЯ </th>
                </tr>
              </thead>
              {% for subject, grades in subjects_grades.items %}
              <tr>
                <th style="text-align: center !important;">
                  {{subject}}:
                </th>
                <th style="text-align: left !important;">
                  {% for grade in grades %}
                    <b>{{grade.grade}}</b>, {{grade.date}} &nbsp;&nbsp;
                  {% endfor %}
                </th>
                <th data-toggle="tooltip" title="Відправити повідомлення викладачу цього предмету" onclick="document.location='{%url 'yourgrades:create_message' 3 subject.unique_code %}';" style="cursor: pointer; text-align: center;" class="message_cell align-middle">
                  <b><i class="material-icons align-text-bottom" style="font-size:35px;">mail</i></b>
                </th>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
 </body>
{% endblock %}