{% extends 'yourgrades/base.html' %}
<head>
  {% load yourgradestags %}
</head>
{% block grades %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-5">
              <table class="table table-responsive table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">PRZEDMIOTY KTÓRYCH UCZYSZ</th>
                  </tr>
                </thead>
                {% for subject in subjects %}
                  <tr onclick="document.location='{% url 'yourgrades:teacher_subject' subject.unique_code %}';" style="cursor: pointer;">
                    <th>
                      <b>{{subject}}</b> w klasie <b>{{subject.school_class}}</b>
                    </th>
                  </tr>
                {% endfor%}
              </table>
            </div>
            <div class="col-7">
              <table class="table table-responsive table-striped" style="text-align: center;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"  style="width: 30.0%">KLASY W KTÓRYCH UCZYSZ</th>
                    <th scope="col"  style="width: 35.0%">WYŚLIJ WIADOMOŚĆ UCZNIOM</th>
                    <th scope="col"  style="width: 35.0%">WYŚLIJ WIADOMOŚĆ RODZICOM</th>
                  </tr>
                </thead>
                {% for class in school_classes %}
                  <tr>
                    <th>
                      <b>{{class}}</b>
                    </th>
                    <th onclick="document.location='{% url 'yourgrades:create_message' 1 class.unique_code %}';" style="cursor: pointer;" class="message_cell">
                      <b><i class="material-icons align-text-bottom" style="font-size:25px;">mail</i></b>
                    </th>
                    <th onclick="document.location='{% url 'yourgrades:create_message' 2 class.unique_code %}';" style="cursor: pointer;" class="message_cell">
                      <b><i class="material-icons align-text-bottom" style="font-size:25px; color: #D9A138;">mail</i></b>
                    </th>
                  </tr>
                {% endfor%}
              </table>
            </div>
          <br>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="btn btn-outline-dark" href="{%url 'yourgrades:timetable' 'teacher' %}"> SOBACZ SWÓJ PLAN LEKCJI </a>
              <br><br>
              <a class="btn btn-outline-dark" href="{%url 'yourgrades:create_message' 6 None %}"> WYŚLIJ WIADOMOŚĆ DO MANAGERA </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}